.sidebarLeft {
  width: 350px;
  height: 95vh;
  padding: 20px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: sticky;
  z-index: 99;
  background: rgb(243, 243, 243);
}
.sidebarProfileLink {
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}
.sidebarProfileLink:hover {
  background: rgba(192, 192, 192, 0.3);
  text-decoration: none;
}
.sidebarProfile {
  display: flex;
  align-items: center;
}
.sidebarProfile .profilePicture {
  width: 28px;
  height: 28px;
  border-radius: 20px;
  margin-right: 10px;
}
.sidebarProfile .profileName {
  font-size: 18px;
  text-decoration: none;
  color: black;
}
.sidebarMenu {
  display: flex;
  flex-direction: column;
  padding: 0px 10px 0px 0px;
  margin: 20px 0px 20px 0px;
}
.sidebarMenu a {
  padding: 10px;
  margin-bottom: 4px;
  border-radius: 10px;
  font-size: 18px;
  color: black;
  text-decoration: none;
}
.sidebarMenu a:hover {
  padding: 10px;
  margin-bottom: 4px;
  border-radius: 10px;
  font-size: 18px;
  color: black;
  text-decoration: none;
  background: rgba(192, 192, 192, 0.3);
}

.sidebarBookmark .bookmarkLink{
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 4px;
    background: rgba(192, 192, 192, 0);

}
.sidebarBookmark .bookmarkLink:hover{
    background: rgba(192, 192, 192, 0.3);
    text-decoration: none;
}
.sidebarBookmark{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.sidebarBookmark .item{
    display: flex; 
    align-items: center;

}
.sidebarBookmark .item img {
    height: 28px;
    width: 28px;
    border-radius: 20px;
    margin-right: 10px;
}
.sidebarBookmark .bookmarkName{
    color: black;
}