.topBar {
    display: flex;
    padding: 5px 15px 5px 15px;
    justify-content: space-between;
    position: sticky;
    background: #03045e;
    z-index: 100;
    align-items: center;
    box-shadow: 0px 5px 8px -5px rgba(0, 0, 0, 0.8);
  }
  .topBarLeft {
    color: white;
    justify-content: space-evenly;
  }
  .topBarCenter {
    display: flex;
    justify-content: space-between;
  }
  
  .topBarCenter a:first-child {
    margin-left: 0px;
  }
  .topBarCenter a {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    margin-left: 5px;
    border-radius: 10px;
    color: #fff;
  }
  .topBarCenter a:hover {
    background: rgba(255, 255, 255, 0.5);
    padding: 15px;
    margin-left: 5px;
    border-radius: 10px;
  }
  .topBarCenter a.active {
      background: rgba(255, 255, 255, 0.8);
      padding: 15px;
      margin-left: 5px;
      border-radius: 10px;
      color: #0077B6;
  }
  .topBarRight{
      display:flex;
      align-items: center;
  }
  .topBarRight .profilePicture{
      width: 28px;
      height: 28px;
      border-radius: 20px;
      margin-right: 10px;
  }
  .topBarRight .profileName{
      color: white;
      margin-right: 10px;
  }
  .topBarRight .btn{
      padding: 10px 15px 10px 15px;
      cursor: pointer;

  }